parameters:
    assetic.read_from: ~
    assetic.write_to: ~

    assetic.node.bin: /usr/bin/node
    assetic.java.bin: /usr/bin/java
    assetic.node.bin: /usr/bin/node
    assetic.ruby.bin: /usr/bin/ruby
    assetic.sass.bin: /usr/bin/sass

    providers:
        - Bangpound\Pimple\Provider\Filter\CompassFilterServiceProvider
